.icc-console-line > span {
    font-family: "CaskaydiaCove Nerd Font", "微软雅黑 JBM Consolas", "Microsoft YaHei UI", Consolas, sans-serif;
}

.icc-console-line-nowrap > span {
    white-space: nowrap;
}

.icc-console-line-info > span {
    color: #2196f3;
}

.icc-console-line-sql > span {
    color: #009688;
}

.icc-console-line-debug > span {
    color: #4caf50;
}

.icc-console-line-warn > span {
    color: #ff9800;
}

.icc-console-line-error > span {
    color: #f44336;
}

.icc-console-line-error-infra > span {
    color: #9c27b0;
}
